body {
    font-family: arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image:url("/static/city_bg2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center 90%;
}

.container{
    background:#76D7EA;
    border: 2px solid black;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 500px;
    margin-top:30px;
    background-image:url("/static/city_bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom 250% right 100%;

}

h1{
    color:#76D7EA;
    background:white;
    font-size:20px;
    margin-bottom:30px;
    margin-left:10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    padding:10px;
    display: inline-block;
}



form{
    display:flex;
    flex-direction: column
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    input{
        width:100px;
        padding:8px;
        border:none;
        border-radius:5px;
        height:20px;
        width:100px;
        margin-top:10px;
        text-transform:capitalize;
    }
    button{
        margin-top:10px;
        padding:8px 15px;
        background-color: grey;
        border:2px solid white;
        border-radius:5px;
        cursor:pointer;
        margin-left: 10px;
        margin-top: 13px;
        width: 105px;
        height: 30px;
        font-size: 9px;
        color:white;
        font-weight: bold;

    }

    button:hover{
        background-color:#333
    }
}
.result{
    margin-left:10px;
    text-transform:capitalize;
    color:white;
    font-family: copperplate;
    p{
        font-size:20px;
    }
}

.weather-icon{
    width:35px;
    height:35px;
    vertical-align: middle;
    margin-bottom:5px;
}
.cloud{
    width:150px;
    position:absolute;
    top:10px;
    left:720px;
    transform:rotate(15deg);
    filter: drop-shadow(4px 6px 8px rgba(0,0,0,0.4))
}




